* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2e; 
    color: #f5e6cb;     
    padding: 5px; 
}

button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #fdf2e9; 
    color: #2e2e2e; 
    border: 2px solid #d4a373;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f7d8be;
}

